/*************************************
 * General styles
 *************************************/

html, body, #svg-container {position: relative; overflow: hidden; min-height: 100%; height: 100%; min-width: 100%; margin: 0; padding: 0; text-align:center;}
html {
    background: url(../img/oilgd4dd7ey-elijah-henderson_60.jpg); /* img/photo-1463171515643-952cee54d42a_2560x1707_60.jpg */
    background-size: cover;
    background-position: center center;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: rgba(0,0,0,1);
    -webkit-animation: bodyBackgroundColor 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    -moz-animation: bodyBackgroundColor 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    -o-animation: bodyBackgroundColor 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation: bodyBackgroundColor 1600ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-delay: 400ms;
}
@keyframes bodyBackgroundColor {
    from    { background-color: rgba(0,0,0,1); }
    to      { background-color: rgba(0,0,0,0.125); }
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
#lowerPartOfBackground {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 50%;
    margin: 0px;
    z-index: -1;
    background-image: linear-gradient(bottom, rgba(177,214,159,1) 0%, rgba(177,214,159,0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(177,214,159,1) 0%, rgba(177,214,159,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(177,214,159,1) 0%, rgba(177,214,159,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(177,214,159,1) 0%, rgba(177,214,159,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(177,214,159,1) 0%, rgba(177,214,159,0) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,1)), color-stop(1, rgba(0,0,0,0)) ); /* 177,214,159 0,0,0 */
}

@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    #svg-container {
        margin-left: -6%;
        width: 112%;
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px) { 
    #svg-container {
        margin-left: -8%;
        width: 116%;
    }
}
@media screen and (max-width: 640px) { 
    #svg-container {
        margin-left: -15%;
        width: 130%;
    }
}


/*************************************
* SVG styles
*************************************/

svg {
    width: 100%;
    height: 100%;
    z-index: -1;
}
path.fill {
    fill: #FEEC2E;
    clip-path: url("#left-to-right");
}
path.line {
    stroke: #FEEC2E;
    stroke-width: 36;
    fill: none;
    stroke-dasharray: 3840, 7680;
}
path.line.animate {
    stroke-dashoffset: 1920;
    opacity: 1;
    -webkit-animation: dash 2400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards, opacityHide 0ms linear 2400ms;
    -moz-animation: dash 2400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards, opacityHide 0ms linear 2400ms;
    -o-animation: dash 2400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards, opacityHide 0ms linear 2400ms;
    animation: dash 2400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards, opacityHide 0ms linear 2400ms;
    animation-delay: 0ms;
}
path.line.static {
    stroke-dashoffset: 7680;
    opacity: 0;
    animation: opacityShow 0ms linear forwards;
    animation-iteration-count: 1;
    animation-delay: 2000ms;
}
path#left-to-right-rectbox {
    fill: #FEEC2E;
    opacity: 0.3;
    stroke: none;
    transform: translateX(-100%);
    animation: rectTranslateX 800ms cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    animation-iteration-count: 1;
    animation-delay: 1800ms;
}
rect#left-to-right-rect {
    width: 0;
    height: 3000px;
    animation: rectWidth 145ms linear forwards;
    animation-iteration-count: 1;
    animation-delay: 2355ms;
}
@keyframes dash {
    from    { stroke-dashoffset: 13440; } /* 3840 * 3  */
    to      { stroke-dashoffset: 1920; }
}
@keyframes opacityShow {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
@keyframes opacityHide {
    from    { opacity: 1; }
    to      { opacity: 0; }
}
@keyframes rectTranslateX {
    from    { transform: translateX(-100%); }
    to      { transform: translateX(100%); }
}
@keyframes rectWidth {
    from    { width: 0; }
    to      { width: 3000px; }
}
